version: '3.8'
services:
  jenkins:
    image: jenkins/jenkins:lts
    user: root
    container_name: odm_jenkins_master
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - ./jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - ../logs:/var/odm_logs
      - ../reports:/var/odm_reports
    restart: always